@import '../common.less';
@import '../edit.less';
@import '../table.less';
@import '../bottomBar.less';
@import '../flattenTable.less';
@import '../popup.less';

#materialPlanCreate {
  .description {
    padding: 18px;
    background: #F0F0F0;
    color: @font85;
    margin-bottom: 24px;
    font-size: @fontBig;
    font-weight: bold;

    .checkCtn {
      display: block;
      margin: 12px 0;
    }
  }

  .number {
    position: absolute;
    left: 2px;
    width: 20px;
    height: 20px;
    border: 1px solid @blue;
    text-align: center;
    border-radius: 50%;
    line-height: 20px;
    color: @blue;
  }

  .number2 {
    position: absolute;
    left: 2px;
    text-align: center;
    border-radius: 50%;
    color: @orange;
    height: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .elCtn {
    position: relative;
  }

  .noPad {
    padding: 0;
  }

  .popup {
    .tag {
      padding: 4px 16px;
      border: 1px solid @borderColor;
      margin: 16px 12px;
      display: inline-block;
      cursor: pointer;
      border-radius: 4px;
    }
  }

  .tcol {
    position: relative;
  }

  .copyIcon {
    position: absolute;
    right: 12px;
    line-height: 46px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .childrenCtn {
    font-size: 14px;
  }
}