@import '../common.less';
@import '../edit.less';
@import '../table.less';
@import '../bottomBar.less';
@import '../flattenTable.less';
#materialPlanCreate{
  .description{
    padding: 18px;
    background: #F0F0F0;
    color: @font85;
    margin-bottom: 24px;
    font-size: @fontBig;
    font-weight: bold;
  }
  .noPad{
    padding: 0;
  }
}