@import '../common.less';
@import '../edit.less';
@import '../detail.less';
@import '../bottomBar.less';
@import '../table.less';
@import '../list.less';
@import '../popup.less';
@import '../buttonList.less';

#inspectionDetail {
  .backGray {
    background: @font25;
    cursor: not-allowed;

    &:hover {
      background: @font25;
    }
  }

  .popup {
    .main {
      width: 1200px;

      .label {
        line-height: 38px;
        font-size: 14px;
        width: auto;
        text-align: left;
      }

      .editCtn {
        background: #F0F0F0;
        margin: 16px 0;

        .col {
          margin-right: 30px;
        }

        .opr {
          transform: translate(-20px, 100%);
        }

        .tableCtn {
          padding: 0;

          .thead {
            background: #CCCCCC;
          }
        }
      }
    }
  }

  .fontSmall {
    font-size: 14px;
  }

  .copyIcon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    width: 16px;
    height: 16px;
  }
}