@import '../common.less';
@import '../list.less';

#collectionList {
  .bold {
    font-size: @fontBig;
  }

  .description {
    padding: 18px;
    background: #F0F0F0;
    color: @font85;
    margin: 24px 0;
    font-size: @fontBig;
    font-weight: bold;
  }
}