@import '../common.less';
@import '../detail.less';
@import '../bottomBar.less';
@import '../table.less';
@import '../list.less';
#quotedPriceDetail{
  .list{
    min-height: auto;
    .circle{
      padding: 4px;
      border-radius: 50%;
      width: 1em;
      height: 1em;
      line-height: 1em;
      margin-right: 4px;
    }
  }
}