@import '../printEasy.less';
@import '../printMenu.less';
@import '../popup.less';
#quotedPricePrint{
  .module{
    margin-bottom: 24px;
  }
  .label{
    min-width: 140px;
    max-width: 140px;
    box-sizing: border-box;
  }
  .wa{
    width: auto;
    max-width: 662px;
  }
  .info{
    margin-left: 20px;
  }
  .circle{
    padding: 4px;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    line-height: 1em;
    margin-right: 4px;
  }
  .circlrParent{
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
}