.editCtn {
  padding: 20px 32px;

  .deleteIcon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: @red;
    float: right;
    margin-right: -20px;

    &:hover {
      background: @hoverRed;
    }
  }

  .row {
    display: flex;
    margin-bottom: 8px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    .col {
      flex: 1;
      margin-right: 72px;

      &.flex2 {
        max-width: 579px;
      }

      &.flex3 {
        max-width: 361px;
      }

      &.flex4 {
        max-width: 253.5px;
      }

      .label {
        display: block;
        height: 38px;
        line-height: 38px;
        font-size: @fontMiddle;

        .text {
          color: @font85;
        }

        .explanation {
          margin-left: 5px;
          color: @font25;
        }

        // 右浮动一般为操作按钮
        .fr {
          cursor: pointer;
        }
      }

      .info {
        display: block;
        min-height: 32px;
      }

      .spaceBetween {
        display: flex;
        justify-content: space-between;

        .once {
          flex: 1;
          margin-right: 12px;

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }

      .cvImageCtn {
        min-height: 100px;

        .cvImage {
          position: relative;
          height: 100px;
          max-width: 112px;
          width: auto;
          display: inline-block;

          img {
            min-width: 60px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding-right: 12px;
          }
        }

        .icon {
          position: absolute;
          right: 16px;
          top: 4px;
          cursor: pointer;
          color: @red;
          font-weight: bold;

          &:hover {
            color: @hoverRed;
          }
        }
      }
    }

    .opr {
      position: relative;
      width: 0;
      white-space: nowrap;
      cursor: pointer;
      transform: translate(-60px, 100%);
      font-size: @fontMiddle;
      top: -26px;
      margin: 0;
    }
  }

  .oprRow {
    margin-right: 72px;
  }

  // 模拟输入库disable的元素
  .disableInput {
    height: 100%;
    line-height: 30px;
    border: 1px solid #DCDFE6;
    font-size: 14px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 4px;
    background: rgb(245, 247, 250);
    color: rgb(192, 196, 204);
  }
}