// 列表页公共样式
.topTagCtn{
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin-bottom: 24px;
  .tag{
    background: #fff;
    display: flex;
    flex: 1;
    align-items: center;
    margin-right: 24px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    color: @font85;
    .iconCtn{
      line-height:46px;
    }
    .iconFont {
      width: 1em; height: 1em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
      font-size: 42px;
      line-height: 60px;
   }
    &:nth-last-child(1){
      margin-right: 0;
    }
    .text{
      font-size: @fontBig;
    }
    &:hover{
      background-color: #e6f7ff;
      color: @blue;
    }
    &.active{
      background-color: #e6f7ff;
      color: @blue;
    }
  }
}
.listCtn{
  padding: 20px 32px;
  .filterCtn{
    margin-bottom: 20px;
    .btn{
      margin-left: 16px;
      float: right;
    }
    .elCtn{
      margin-right: 16px;
      width: 285px;
      &.hasIcon{
        width: 270px;
        padding-right: 15px;
        position: relative;
      }
    }
    .el-icon-upload{
      position: absolute;
      line-height:32px;
      font-size:18px;
      cursor:pointer;
      margin-left: 4px;
    }
  }
  .list{
    font-size: @fontMiddle;
    text-align: left;
    min-height: 330px;
    .el-table{
      font-size: 16px;
      td{
        height: 55px;
        padding: 2px 0;
      }
      th{
        user-select: unset;
      }
    }
    .el-table--enable-row-hover .el-table__body tr:hover>td {
      background: rgba(26, 149, 255, 0.25);
    }
    .el-table--enable-row-hover .has-gutter tr:hover>th {
      background: rgba(26, 149, 255, 0.25);
    }
    .el-table__header-wrapper .el-table__header .has-gutter{
      color: rgba(0, 0, 0, 0.85);
      font-size: 16px;
      text-align: left;
      font-family: Source Han Sans CN;
      th{
        background: #FAFAFA;
        font-weight: unset;
      }
      th:first-child{
        padding-left: 5px;
      }
    }
    .row{
      height: 55px;
      border-bottom: 1px solid #E8E8E8;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 5px 0;
      color: @font65;
      &.title{
        background: #FAFAFA;
        color: @font85;
      }
      &:hover{
        background: rgba(26,149,255,0.25);
      }
    }
    .col{
      flex:1;
      text-align: left;
      flex-wrap: wrap;
      padding: 0 10px;
      position: relative;
      display: flex;
      align-items: center;
      word-break: break-all;
      .imageCtn{
        height: 44px;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        .el-image{
          height: 100%;
        }
      }
      &.ellipsis{
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .stateCtn{
        margin-right: 8px;
        display: flex;
        flex-direction: column;
        .state{
          width:6px;
          height:6px;
          border-radius: 50%;
          background: #ccc;
          margin:5px auto;
        }
      }
      .mark{
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }
  }
  .pageCtn{
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }
}