@import '../common.less';
@import '../detail.less';
@import '../bottomBar.less';
@import '../table.less';
@import '../popup.less';
#orderDetail{
  .module{
    .titleIn{
      color: @blue;
      padding: 0 32px;
      font-size: 18px;
    }
    .processCtn{
      padding: 20px 32px;
      .process{
        width: 100%;
        height: 28px;
        background: rgba(0,0,0,.45);
        line-height: 28px;
        border-radius: 14px;
        font-size: @fontMiddle;
        position: relative;
        margin-bottom: 20px;
        .active{
          background: #61CAAC;
          width: 15%;
          height: 28px;
          border-radius: 14px;
        }
        .left{
          position: absolute;
          top: 0;
          bottom: 0;
          color: #fff;
          left: 12px;
        }
        .right{
          position: absolute;
          top: 0;
          bottom: 0;
          right: 12px;
          color: #fff;
        }
      }
    }
  }
  .detailCtn{
    .tableCtn{
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .noPadTop{
    padding-top: 0;
  }
  .noPadBtm{
    padding-bottom: 0;
  }
  .samallFont{
    .trow{
      height: 100%;
    }
    .tcol{
      &.center{
        text-align: center;
      }
      font-size: @fontSmall;
      &.w100{
        min-width: 100px;
        max-width: 150px;
      }
    }
  }
  .tableCtn{
    .tbody{
      .thead{
        border: 0;
        font-size: 14px;
      }
      .tbody{
        border: 0;
        font-size: 14px;
      }
    }
  }
  .zhSideNav{
    position: fixed;
    right: 22px;
    top: 0;
    bottom: 0;
    z-index:9999;
    .sideCtn{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 166px;
      background: red;
      height: auto;
      .side{
        background: green;

      }
    }
  }
} 