@import '../common.less';
@import '../detail.less';
@import '../bottomBar.less';
@import '../table.less';
#orderDetail{
  .detailCtn{
    .tableCtn{
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .noPadTop{
    padding-top: 0;
  }
  .noPadBtm{
    padding-bottom: 0;
  }
  .samallFont{
    .trow{
      height: 100%;
    }
    .tcol{
      &.center{
        text-align: center;
      }
      font-size: @fontSmall;
      &.w100{
        min-width: 100px;
        max-width: 150px;
      }
    }
  }
  
}