@import '../common.less';
@import '../edit.less';
@import '../detail.less';
@import '../bottomBar.less';
#craftCreate{
  .colourCtn{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 32px;
    height: auto;
    .colour{
      width: 217px;
      height: 32px!important;
      margin-bottom: 12px;
    }
    .btn{
      font-size: @fontMiddle;
      padding: 0;
      margin-left: 12px;
      margin-bottom: 12px;
    }
    .color{
      margin-left: 12px;
      margin-bottom: 12px;
    }
    .borderBtn{
      padding: 0;
      width: 30px;
      text-align: center;
      margin-left: 12px;
      margin-bottom: 12px;
    }
    .jia{
      width: 60px;
      margin-left: 12px;
      height: 32px!important;
      margin-bottom: 12px;
    }
  }
  .hotTable{
    margin: 12px 0;
  }
  .label{
    .sliderCtn{
      line-height: 20px;
      border-radius: 16px;
      background: #E9E9E9;
      color: #fff;
      font-size: @fontMiddle;
      font-style: normal;
      display: inline-block;
      overflow: hidden;
      position: relative;
      vertical-align: middle;
      margin-left: 16px;
      .text{
        border-radius: 16px;
        padding: 0 8px;
        cursor: pointer;
        display: inline-block;
        color: #fff;
        &.active{
          background: @blue;
        }
      }
    }
    .element{
      width: 211px;
      height: 32px;
      margin-left: 12px;
    }
    .btn{
      margin-left: 12px;
    }
  }
}