@import '../common.less';
@import '../edit.less';
@import '../detail.less';
@import '../bottomBar.less';
#craftCreate{
  .colourCtn{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 32px;
    height: auto;
    .colour{
      width: 217px;
      height: 32px!important;
      margin-bottom: 12px;
    }
    .btn{
      font-size: @fontMiddle;
      padding: 0;
      margin-left: 12px;
      margin-bottom: 12px;
    }
    .color{
      margin-left: 12px;
      margin-bottom: 12px;
    }
    .borderBtn{
      padding: 0;
      width: 30px;
      text-align: center;
      margin-left: 12px;
      margin-bottom: 12px;
    }
    .jia{
      width: 60px;
      margin-left: 12px;
      height: 32px!important;
      margin-bottom: 12px;
    }
  }
}