@import '../../assets/css/common.less';
@import '../../assets/css/popup.less';
@import '../../assets/css/list.less';
@import '../../assets/css/edit.less';

.productEdit {
  .stepCtn {
    display: flex;
    align-items: center;
    height: 70px;
    margin: 12px 0;
    justify-content: space-around;
    position: relative;

    .step {
      display: flex;
      flex-direction: column;
      align-items: center;

      .circle {
        text-align: center;
        line-height: 40px;
        width: 40px;
        color: @blue;
        border-radius: 50%;
        border: 1px solid @blue;
        background: #fff;
      }

      .name {
        margin-top: 10px;
        color: @blue;
      }

      &.active {
        .circle {
          background: @blue;
          color: #fff;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      left: 0;
      right: 0;
      top: 21px;
      background: #ccc;
      z-index: -1;
    }
  }

  &.sidePopup {
    .main {
      background: #EEE;

      .titleCtn {
        background: #fff;
      }

      .contentCtn {
        padding: 0;
        padding-bottom: 56px;

        .module {
          background: #fff;
          margin-top: 24px;

          .editCtn {
            .opr {
              transform: translate(-25px, 100%);
            }

            .col {
              margin-right: 32px;
            }

            .mark {
              border-radius: 50%;
              background: @orange;
              width: 18px;
              height: 18px;
              display: inline-block;
              color: #fff;
              line-height: 18px;
              text-align: center;
              margin-right: 4px;
            }

            .fileCtn {
              max-width: 562px;
            }
          }

          .partCtn {
            padding-bottom: 24px;

            &:nth-last-child(1) {
              padding-bottom: 0;
            }
          }

          .noData {
            color: @font45;
            line-height: 32px;
            font-size: @fontMiddle;
          }
        }
      }
    }

    .inDetailMain.main {
      transform: translate(0%, 0%);
      left: unset;
      justify-content: unset;

      .contentCtn {
        max-height: unset;
      }

      .label {
        text-align: left;
        width: unset;
      }
    }
  }

}